/* @media (max-width: 412px)  {
    .header__nav-list {
        display: none;
    }
    .header-bt__fy {
        display: none;
    }
    .nav-button {
        display: block;
    }
    .header-lang {
        display: none;
    }
    .header__soc img {
    width: 24px;
    height: 24px;
}

} */