.serviceItem {
    border-radius: 32px;
    gap: 24px;
    background: #0f1115;
    border: 1px solid rgba(255, 255, 255, 0.33);
}

.serviceItem__img {
    width: 414px;
    height: 320px;
    object-fit: cover;
    aspect-ratio: 6/2;
    border-radius: 23px;
}

.serviceItem__title {
    max-width: 435px;
    font-size: 56px;
    padding: 32px;
    padding-right: 0px;
}


.serviceItem__desc {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    max-width: 460px;
}

.serviceitem-text {
    text-align: justify;
}

.btn-service-item-list {
    margin-right: 44px;
}

@media (max-width: 1330px) {
    .serviceItem__title {
        font-size: 40px;
    }
}
    
@media (max-width: 1200px) {
    .serviceItem__desc {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .serviceItem__img { 
        width: 100%;
        height: auto;
        aspect-ratio: auto;
        max-height: 578px;
    }
    .serviceItem__desc {
        padding: 0px 32px 32px;
    }
    .serviceItem__title {
        font-size: 32px;
        padding: 32px 0px 24px 32px;
    }
    .serviceitem-text {
        font-size: 18px;
    }
    .btn-service-item-list {
        margin-right: 22px;
    }
}