.our-service__title { 
    line-height: 68px;
}

.our-service__title {
    margin-bottom: 8px;
}

.service__pagination-lg, .service__pagination-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    max-height: 51px;
}

.our-service-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 272px);
    gap: 24px;
}

@media (max-width: 1200px) {
    .our-service-slide {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

@media (max-width: 768px) {
    .our-service-slide {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.service__pagination-sm.is-active{
    background: #FFBC00;
    color: #000;
}

.service__pagination-lg {
    font-family: "Arial", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    background: #ffbc00;
    border: 1px solid #79530b;
    border-radius: 10px;
    padding: 16px 14px;
}

.service__pagination-sm {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    line-height: 23px;
    background: #ffbc00;
    border: 1px solid #79530b;
    border-radius: 10px;
    padding: 17px 20px;
}

.service__pagination-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}

.service__pagination-sm.is-active {
    border-color: #79530b;  
    background-color: #1C150A;
    color: #FFBC00;
}

.tires-box {
    border: 1px solid rgba(255, 255, 255, 0.33);
    border-radius: 12px;
    background: #ffbc00;
    padding: 16px 24px 16px 24px;
    position: relative;
}

.services-wrapper .splide {
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.services-wrapper .splide__track {
    overflow: hidden;
}